header h1 {
    color: #f9f9f9;
    text-align: center;
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
    
}

.skill-tag {
    text-align: center;
}

html {
    color: white;
}
