:root {
    /* Mode clair */
    --bg: #FAF3E1;
    --bg-card: #F5E7C6;
    --text-title: #FA8112;
    --text: #FA8112;
    --accent: #FA8112;
    --title:  #222222;
    --title-card: #222222;
    --header-bg: rgba(0, 0, 0, 0.85);
    --footer-bg: rgba(0, 0, 0, 0.8);

    --menu-text: white;
    --border: rgba(255,255,255,0.1);
}

body.dark {
    /* Mode sombre */
    --bg: #030303;
    --bg-card: #D4C9BE;
    --text-title: #123458;
    --text: #123458;
    --accent: #D4C9BE;
    --title: white;
    --title-card: #030303;

    --header-bg: rgba(18, 52, 88, 0.95);
    --footer-bg: rgba(18, 52, 88, 0.95);

    --menu-text: #F1EFEC;
    --border: rgba(241,239,236,0.15);
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 50px;
    box-sizing: border-box;

    background: var(--header-bg);
    border-bottom: 1px solid var(--border);
    backdrop-filter: blur(10px);

}

.retour {
    color: var(--menu-text);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
    font-family: "Moderniz", sans-serif;
}

.retour:hover {
    color: var(--accent);
    

}

.menu {
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
    
}

.menu a {
    color: var(--menu-text);
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.menu a:hover {
    color: var(--menu-text);
}


.footer {
    margin-top: 50px;
    padding: 30px 50px;


    background: var(--footer-bg);
    border-top: 1px solid var(--border);
    color: var(--menu-text);

    
    backdrop-filter: blur(10px);

    
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer div:first-child {
    text-align: left;
}

.footer div:last-child {
    text-align: right;
}

.footer h3 {
    margin: 0;
    color: var(--accent);
}

.footer p {
    margin: 5px 0;
    margin-right: 4rem;
}

.orange{
    color: var(--text-title);
}


body {
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    min-height: 100vh;
    padding-top: 90px;
    margin: 0;
    background-color: var(--bg); /* ton fond global */
    
}

h2{
    color: var(--title-card);
    font-family: "Moderniz", sans-serif;
}



h1 {
    text-shadow: 0 2px 10px rgba(0,0,0,0.8);
    font-family: "Moderniz", sans-serif;
   
    font-size: 45px;

}





.hero {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-color: var(--bg);
    
}

/* IMAGE seule (miroir uniquement ici) */
.hero::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image: url("https://wallpapercrafter.com/desktop/149689-McLaren-car-vehicle-digital-art-McLaren-720S-dark-monochrome-black-simple-background-minimalism-black-background.jpg");
  background-size: cover;
  background-position: center;

  transform: scaleX(-1);

  filter: blur(0px); /* flou ici */

  z-index: 0;
}


.hero::after {
  content: "";
  position: absolute;
  inset: 0;

  background: linear-gradient(
  to right,
  #FAF3E1 20%,
  rgba(250, 243, 225, 0.9) 40%,
  rgba(250, 243, 225, 0.7) 60%,
  rgba(250, 243, 225, 0.3) 80%,
  rgba(250, 243, 225, 0) 100%
);

  z-index: 1;
}

body.dark .hero::after {
    background: linear-gradient(
        to right,
        #030303 20%,
        rgba(3,3,3,0.9) 40%,
        rgba(3,3,3,0.7) 60%,
        rgba(3,3,3,0.3) 80%,
        rgba(3,3,3,0) 100%
    );
}


.titlebloc {

    color: var(--title);
    margin-top: 13rem;
    font-size: 90px;
    margin-left: 3rem;
    font-family: "Moderniz", sans-serif;
    line-height: 0rem;
    position: relative;
    z-index: 2;

}

.police{
    font-family: "Moderniz", sans-serif;
}

.undertitle{

    color: var(--text);
    font-size: 100px;
    margin-left: 3rem;
    font-family: "AbrilFatface-Regular", sans-serif;

}

@font-face {
    font-family: "Moderniz";
    src: url("fonts/Moderniz.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "AbrilFatface-Regular";
    src: url("fonts/AbrilFatface-Regular.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

/* Texte + image */
.bloc {
    display: flex;
    align-items: right;
    gap: 20px;
    max-width: 900px;
    margin: 30px auto;
    background: var(--bg-card);
    padding: 30px;
    border-radius: 15px;
    backdrop-filter: blur(5px);
}

.bloc-title {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 56rem;
    text-align: center;
    max-width: 900px;
    margin: 30px auto;
    background: var(--bg-card);
    padding: 30px;
    border-radius: 15px;
    backdrop-filter: blur(5px);
    
}

.center{
    text-align: center;
}

/* Inverse image/texte */
.bloc.inverse {
    flex-direction: row-reverse;
}

.bloc img {
    width: 250px;
    border-radius: 10px;
    object-fit: cover;
}


html{
    scroll-behavior: smooth;
}




#maxence,
#passion,
#stage {
    scroll-margin-top: 250px;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overscroll-behavior-y: none;
}
